{% extends "base.html" %}

{% load static %}

{% block title %}Log In | dxChat {% endblock %}

{% block content %}

    <section class="my-16 flex flex-col items-center justify-center px-6 py-8 mx-auto lg:py-0">
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-2 space-y-1 md:space-y-2 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign in to your account
                </h1>

                <div class="p-2 w-full dark:text-white">
                    <p class="text-sm">Test accounts:</p>
                    <ul class="text-sm list-disc list-inside">
                        <li><strong>Username:</strong> sarah | <strong>Password:</strong> pass1234</li>
                        <li><strong>Username:</strong> kevin | <strong>Password:</strong> pass1234</li>
                    </ul>
                </div>

                <form id="login-form" class="space-y-4 md:space-y-6" method="post" novalidate>

                    {% csrf_token %}

                    {% for non_field_error in form.non_field_errors %}
                        <p class="mt-2 text-sm font-medium text-red-600 dark:text-red-500">
                            &#x2022; {{ non_field_error }}</p>
                    {% endfor %}

                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Username</label>
                        <input type="text" name="username" id="username"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="my_username" required>
                        {% for error in form.username.errors %}
                            <p class="mt-2 text-sm font-medium text-red-600 dark:text-red-500">&#x2022; {{ error }}</p>
                        {% endfor %}
                    </div>

                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••"
                               class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg
                                   focus:ring-primary-600 focus:border-primary-600
                                   block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               required>
                        {% for error in form.password.errors %}
                            <p class="mt-2 text-sm font-medium text-red-600 dark:text-red-500">&#x2022; {{ error }}</p>
                        {% endfor %}
                    </div>

                    <button type="submit"
                        {% if not debug %}
                            data-sitekey="{{ g_recaptcha_publickey }}"
                            data-callback='onSubmitLoginForm'
                            data-action='submit'
                        {% endif %}
                            class="g-recaptcha w-full text-white bg-blue-600 hover:bg-blue-700
                                focus:ring-4 focus:outline-none focus:ring-primary-300
                                font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700">
                        Log in
                    </button>

                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Don’t have an account yet?
                        <a href="{% url "website:signup" %}"
                           class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                            Sign up</a>
                    </p>
                </form>
            </div>
        </div>
    </section>

{% endblock %}

{% block inline_javascript %}
    {% if not debug %}
        <script type="application/javascript">
            function onSubmitLoginForm(token) {
                document.getElementById("login-form").submit();
            }
        </script>
    {% endif %}
{% endblock %}
